name: Documentation

on:
  push:
    branches: [ main ]

jobs:
  dokka:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Generate docs
        run: |
          ./gradlew dokkaHtml
          mv ./app/build/dokka/html ./docs
      - name: Push docs
        run: |
          git config --local user.email "github-actions@users.noreply.github.com"
          git config --local user.name "Actions Bot"
          git add -f docs
          git diff-index --quiet HEAD || git commit -m "[Auto] update docs"
          git push origin main:gh-pages --force
